
{% extends 'base-layout.html' %}

{% block header %}
 
<div class="col-4">
  <h1>{% block title %} HOME PAGE{% endblock %}</h1>
</div>

{% endblock %}

{% block content %}
<hr>
    <div class="container">

<p>HOTLINE (08:00 - 17.00)</p>
<p> from Monday to Saturday</p>
<p> Call: 19001208</p>
<p>Email support: support@ATNshop.com.vn</p>
<p>Support customer return and exchange policy</p>
<p>Connect to social pages</p>
</div>
<div id="social">
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href ="https://www.facebook.com/ATN-Shop-111787423860475/?modal=admin_todo_tour"><img src ="images/fb.png" alt="Facebook logo"></a>
      <a href ="https://twitter.com/ATN_shop"><img src ="images/twitter.png" alt="Twitter logo"></a>
  </div>
{% endblock %}